In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
df = pd.read_csv(r"C:\GitHub\ICT - ML&AI\Dataset\CET_dataset.csv")
df

     CET_score  Admitted
0          480          1
1          450          1
2          390          1
3          410          1
4          380          1
..         ...        ...
155        350          0
156        370          1
157        280          0
158        290          0
159        390          1

[160 rows x 2 columns]

In [3]:
df.describe()

        CET_score   Admitted
count  160.000000  160.000000
mean   354.000000    0.525000
std     60.861736    0.500943
min    238.000000    0.000000
25%    306.500000    0.000000
50%    360.000000    1.000000
75%    390.000000    1.000000
max    482.000000    1.000000

In [4]:
df.shape

(160, 2)

In [5]:
df.dtypes

CET_score    int64
Admitted     int64
dtype: object

In [6]:
df.isnull().sum()

CET_score    0
Admitted     0
dtype: int64

In [3]:
y=df['Admitted ']
X = df.drop(['Admitted '], axis=1)
X.describe()

        CET_score
count  160.000000
mean   354.000000
std     60.861736
min    238.000000
25%    306.500000
50%    360.000000
75%    390.000000
max    482.000000

# splitting the data into train and test

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=1)

In [5]:
from sklearn import linear_model
logr=linear_model.LogisticRegression()
logr.fit(X_train,y_train)
y_pred=logr.predict(X_test)

In [8]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score
print('Accuracy: ' , accuracy_score(y_test,y_pred))
print('Precision: ' , precision_score(y_test,y_pred))
print('Recall: ' , recall_score(y_test,y_pred))

Accuracy:  0.9375
Precision:  0.9047619047619048
Recall:  1.0

In [12]:
import warnings
warnings.filterwarnings('ignore')
predicted=logr.predict(np.array([200]).reshape(-1,1))
predicted

array([0], dtype=int64)

In [13]:
predicted=logr.predict(np.array([410]).reshape(-1,1))
predicted

array([1], dtype=int64)